@{
    ViewData["Title"] = "ちょちょいのちょい　日本語";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    日本語文法N1<br /><br />
    日本語文法N2<br /><br />
    日本語文法N3<br /><br />
    日本語文法N4/5<br /><br />
    N H Kニュース<br /><br />
    @*<h3>论坛系统介绍：</h3>
    系统开发：<br />
    ASP.NET Core + EF Core Sqlite + Bootstrap <br />
    运行环境：<br />
    Ubuntu 16.04 + Kestrel+Nginx <br /><br />
    博客介绍：
    <a href="http://www.cnblogs.com/linezero/" target="_blank">
        LineZero's Blog
    </a><br />*@
    現在時刻：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
</p>
